/*------------------- General Styles------------------- */



body{
    display: flex;
    flex-direction: column;
    color: white;
}
header{
    min-height: 80px;
}

footer{
    min-height: 80px;

}


.section{
    min-height: 500px;
}


/* --------------------  Utilities -------------------*/
/* ----------------------- Layout -------------------- */
:root{
    --bs-primary: rgb(26, 188, 156);
    --bs-secondary: rgb(44, 62, 80);
    --bs-primary-rgb: 26,188,156;
    --bs-secondary-rgb: 44,62,80;
    /* --last-section: rgb(58, 84, 109);
    --last-section: 85,84,109; */
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 300px;
}


.col{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

}

[ class*="col-"]{
    flex: 0 0 auto;

    /* solo per visualizzare le colonne  */
    border: 2px solid rgb(225, 19, 19);

    min-height: 50px;

}
/*------------------- container------------------- */

h1{
    color: black;
    text-align: center;
}

/* -------------------------- */
.last-section{
    background-color: var(--last-section);
}

.white-font{
    color: white;
}

.row .btn-col{
    height: 10px;

}